@keyframes dissappearAnim {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.copy-function-advise{
    all: initial;
    font-family: system-ui;
    position: fixed;
    z-index: 100000;
    top: 10px;
    left: 80vw;
    background-color: rgb(13, 255, 0);
    color: #000;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    animation: dissappearAnim 2.5s ease-in;
}
.inactive-copy{
    background-color: red;
    color: #fff;
}